{% extends 'master/base.html' %} {% block content %}
<div class="form-wrapper">
    {% if 'add' in request.path %}
    <h4 style="text-align: center; color: orange;">New Task</h4>
    {% endif %} 
    {% if error_message %}
        <p>
            <strong>{{ error_message }}</strong>
        </p>
    {% endif %}
    {% if 'edit' not in request.path and 'add-subtask' not in request.path%}
    <div style="text-align:center">
        
        <a href="{% url 'tasks:add'%}" style="width: 45%"  class="btn btn-danger">Task</a>
   
        <a href="{% url 'plantask:add_plantask'%}" style="width: 45%" class="btn btn-info">Plan</a>

    </div>
    {% endif %}
    <form role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        {% include 'master/custom_form.html' %}
        <button type="submit" class="btn btn-success button">
            {% if 'add' in request.path %}Add 
            {% else %} Edit 
            {% endif %}
        </button>
    </form>
</div>
{% endblock %}