{% extends 'master/base.html' %} 
{% block content %}

    <div class="form-wrapper" style="background: linear-gradient(to top, rgb(199, 193, 168) 20%, rgb(75, 133, 187) 50%, #A19887 80%);">
        <h4 style="text-align:center">Add task with</h4>
        <form role="form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %} 
            {% include 'master/custom_form.html' %}
            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success button" 
                            style="text-align: senter;">Add User</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}