<nav class="navbar navbar-inverse">

    <div class="collapse navbar-collapse">

        <a class="navbar-brand" href="{% url 'homepage' %}" 
            style="font-family: 'BioRhyme Expanded', serif;">MyTasker
        </a>

        {% if request.path != 'login' and request.path != 'signup' %}

        <a class="navbar-brand" href="{% url 'tasks:add' %}" 
            style="font-family: 'BioRhyme Expanded', serif;">Add
        </a>

        <a class="navbar-brand" href="{% url 'plantask:all_plantask' %}" 
            style="font-family: 'BioRhyme Expanded', serif;">Plans
        </a>
        <a class="navbar-brand" href="{% url 'tasks:history' %}" 
            style="font-family: 'BioRhyme Expanded', serif;">History
        </a>

        <form method="GET" class="navbar-form navbar-left" action="{% url 'tasks:search' %}" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name Task or tag" 
                        name="task_search">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>

        <ul class="a navbar-right">
            <li class="a-item" style="background-color: transparent; text-align: center;">
                <button class="btn btn-danger text-center;" 
                    style=" text-align: center; margin:7px; opacity: 1;" type="button" 
                    data-toggle="dropdown">
                    {{ request.user.username }}
                </button>
                <ul class="suba">
                    <li class="suba-item" style="text-align: center;margin:7px; opacity: 1;">
                        <a href="{% url 'logout' %}" class="nav-link text-center" 
                            style="color: rgb(86, 143, 145);">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
        {% endif %}
    </div>
    </div>
</nav>