{% extends 'master/base.html' %} 
{% load humanize %} 
{% block content %}
<div class="d-flex flex-wrap card-group">
    {% if 'plantask' not in request.path %} 
    {% for task in tasks %}

    <a href="{% url 'tasks:work' task.pk %}" style="text-decoration: none;">
        <div class="flex-fill p-2">
            <div class="show_task" style="background: linear-gradient(45deg, rgba(103, 0, 31, .8), rgba(34, 101, 163, .5)); margin-left: 150px;">
                {{ task.pk }}.
                Name: {{ task.task_name}}
                <hr>
                <div class="info_task">
                    Info: {{task.task_info}}
                </div>
                <div style="vertical-align:bottom;">
                    {{task.time_end}}
                </div>
                <div style="vertical-align:bottom;
                    {% if task.task_priority == 1 %} color: chartreuse
                    {% elif task.task_priority == 2%} color: yellow
                    {% elif task.task_priority == 3%} color: #FF7F50
                    {% else %} color: rgb(228, 36, 29)
                    {% endif%}
                ">
                    Priority: 
                    {% if task.task_priority == 1 %} Low
                    {% elif task.task_priority == 2%} Average
                    {% elif task.task_priority == 3 %} High 
                    {% else %} Ultrahigh
                    {% endif%}
                </div>
                <div style="vertical-align:bottom;">
                    Tags: {{task.tags}}
                </div>
            </div>
        </div>
    </a>
    {% empty %} 
        {% if 'search' in request.path %}
            <h1 style="text-align: center; color: darkkhaki" class="display-3">
                No such tasks were found
            </h1>
        {% else %}
            <h1 style="text-align: center; color: darkkhaki">
                You do not have any tasks yet
            </h1>
        {% endif %}
    {% endfor %} 
    {% else %} 
    {% for plan in plans %}
    <a style="text-decoration: none;" href="{% url 'plantask:work' plan.pk %}">
        <div class="flex-fill p-2">
            <div class="show_task" style="background: linear-gradient(45deg, rgba(103, 0, 31, .8), rgba(34, 101, 163, .5)); margin-left: 150px;">
                Name: {{ plan.task_name}}
                <hr>
                <div class="info_task">
                    Info: {{plan.info}}
                </div>
                <div class="info_task">Repeat: Every {{plan.period}} 
                    {% if plan.period_type == 1 %} Hour
                    {% elif plan.period_type == 2 %} Day
                    {% elif plan.period_type == 3 %} Week  
                    {% elif plan.period_type == 4 %} Month
                    {% else %} Year {% endif%} 
                </div>
            </div>
        </div>
    </a>
    {% empty %} 
        <h1 style="text-align: center; color: darkkhaki">
            You do not have any plantasks yet
        </h1>
    {% endfor %} {% endif %}
</div>
{% endblock %}