{% extends 'master/base.html' %} {% load humanize %} {% block content %}
<div class="form-wrapper" style="background: linear-gradient(to top, #E4AF9D 20%, #E4E4D8 50%, #A19887 80%);">
    {% if 'plantask' not in request.path %}
    <h3 class="text-center"> Name:
        <b>{{ task.task_name }}</b>
    </h3>
    <div>
        <label for="label_task_info" class="col-sm-5 control-label" style="color: black">Info:</label>
        <div style="text-align: center; margin: 5px;" id="label_task_info"> {{task.task_info}}</div>
        <label for="label_task_deadline" class="col-sm-5 control-label" style="color: black">Deadline:</label>
        <div style="text-align: center; margin: 5px;" id="label_task_deadline"> {{task.time_end|default:"No deadline" }}</div>
        <label for="label_task_priority" class="col-sm-5 control-label" style="color: black">Priority:</label>

        <div style="text-align: center; margin: 5px;" id="label_task_priority">
            {% if task.task_priority == 1 %} Low 
            {% elif task.task_priority == 2 %} Average 
            {% elif task.task_priority == 3 %} High 
            {% else %} Ultrahigh
            {% endif%}
        </div>
        <label for="label_task_tag" class="col-sm-5 control-label" style="color: black">Tag</label>
        <div style="text-align: center; margin: 5px;" id="label_task_status">{{task.tags}}</div>
        <label for="label_task_status" class="col-sm-5 control-label" style="color: black">Status:</label>
        <div style="text-align: center; margin: 5px;" id="label_task_status">{{task.status}}</div>
        {% if task.status != 'Complete' and task.status != 'Remove'%} {% if task.sub.all.exists %}

        <ul class="topmenu">

            <li>
                <a href="" class="submenu-link">Subtasks:</a>
                <ul class="submenu">
                    {% for sub in task.sub.all %} {% if sub.status != 'Remove' %}
                    <li>
                        <a href="{% url 'tasks:work' sub.pk %}">{{sub.task_name}}</a>
                    </li>
                    {% endif %} 
                    {% endfor %}
                </ul>
            </li>

        </ul>
        {% endif %} {% if task.other_user_task.all.exists %} {% if task.owner.name == request.user.username %}
        <ul class="topmenu">
            <li>
                <a href="" class="submenu-link">Users:</a>
                <ul class="submenu">
                    {% for owner in task.other_user_task.all %}
                    <li>
                        <div style="background-color: transparent; text-align: left; width: 1px;">

                            <button class=" button_delete_user btn btn-default">{{ owner }}
                                <a href="{% url 'tasks:delete_user'  pk=task.pk name_user=task.other_user_task.all.first %}" class="btn bg-danger btn-sm">
                                    <i class="fas fa-trash white" style="color: black; width: 10px; "></i>
                                </a>

                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        {% endif %} {% endif %} 
        {% if task.status != 'Remove' and task.status != 'Complete'%}
            <div style="text-align: center; ">

                <a href="{% url 'tasks:edit' task.pk %}" class="btn btn-warning main_link" ">
                    <i class="fas fa-edit"></i>
                    Edit  </a>

                <a href="{% url 'tasks:delete' task.pk %}" class="btn btn-danger main_link">
                    <i class="fas fa-trash-alt"></i>
                    Delete</a>

                <br>
                <a href="{% url 'tasks:complete' task.pk %}" class="btn btn-success main_link">
                    <i class="far fa-calendar-check"></i>
                    Complete</a>

                {% if task.owner.name == request.user.username %}
                    <a href="{% url 'tasks:add_user' task.pk %}" class="btn btn-info main_link">
                        <i class="fas fa-user-plus"></i>
                        Add user</a>
                {% endif %} 
                <br>
                <a href="{% url 'tasks:add-subtask' task.pk %}" 
                    class="btn bg-info main_link">
                    <i class="fas fa-plus-circle"></i>
                    Add Subtask
                </a>
        {% endif %}
        </div>
        {% else %}
        <div style="text-align:center;">
        <a href="{% url 'tasks:revive' task.pk %}" class="btn btn-warning ">
            <i class="fab fa-firstdraft"></i>
            Revive task</a>
        <a href="{% url 'tasks:clear' task.pk %}" class="btn btn-danger ">
                <i class="fas fa-eraser"></i>
                Clear</a>
        </div>
        {% endif %}
    </div>
{% else %}
    <h3 class="text-center"> Name:
        <b>{{ plantask.task_name }}</b>
    </h3>
        <div class="info_task">
            Info: {{plantask.info}}
        </div>
        <div class="info_task">Repeat: Every {{plantask.period}} 
            {% if plantask.period_type == 1 %} Hour
            {% elif plantask.period_type == 2 %} Day
            {% elif plantask.period_type == 3 %} Week  
            {% elif plantask.period_type == 4 %} Month
            {% else %} Year {% endif%} 
        </div>
        <div style="text-align: center; ">
            <a href="{% url 'plantask:edit' plantask.pk %}" class="btn btn-warning main_link">
                <i class="fas fa-edit"></i>
                Edit</a>
            <a href="{% url 'plantask:delete' plantask.pk %}" class="btn btn-danger main_link">
                <i class="fas fa-trash-alt"></i>
                Delete</a>
            <br>
        </div>
{% endif %}
</div>


{% endblock %}