
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("../images/background.jpg");
    background-size: cover;
}
.center {
    width: 300px; 
    padding: 10px; 
    margin: auto; 
    background: rgb(80, 67, 67);
    border-radius: 8px;
}

.button {
height: 50px;
width: 300px;
   display:block;
   position: relative;
   border: 1px solid white;
   margin: 10px auto;
}

.login_signup{
    width: 300px;
    padding: 10px;
    margin: auto;
    background: chartreuse;
    border-radius: 8px;

}
.show_task{
    height: 150px;
    width: 200px;
    background-color: azure;
    padding: 10px;
    margin: 20px;
    color: orange;
    text-align: center;
    border-radius: 5px;
    float: left;
    
}
.info_task{
    height: auto;
    width: auto;
    color: coral;
    text-align: center;
}

.form-wrapper {
    position: absolute;
    min-width: 20%;
    margin: 3% 3% 3% 40%;
    padding: 1%;
    border: whitesmoke solid;
    border-radius: 20px;
    background: #e6e7e8;
}

.tesk{
    text-align: center; 
    margin-top: 5px;
}
.dropdown-menu {
    min-width: 10 !important;
}

 
.topmenu:after {
    content: "";
    display: table;
    clear: both;
  }
  .topmenu > li {
    width: 25%;
    float: left;
    position: relative;
    font-family: 'Open Sans', sans-serif;
  }
  .topmenu > li > a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #404040;
    padding: 15px 30px;
  }
  .topmenu li a:hover { color: #D5B45B; }
  .submenu-link:after {
    font-family: "FontAwesome";
    color: inherit;
    margin-left: 10px;
  }
  .submenu {
    background: #273037;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 180px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
  }
  .submenu a {
    color: white;
    text-align: left;
    padding: 12px 15px;
    font-size: 13px;
    border-bottom: 1px solid rgba(255,255,255,.1);
  }
  .submenu li:last-child a { border-bottom: none; }
  .topmenu > li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
  }li {
    list-style-type: none; 
   }

.dropdown:hover > .dropdown-menu { 
    display: block; 
    margin: 0;
} 

.a {
    margin: 0;
    padding: 0;
    list-style: none;
}
.a .a-item {
    float: left;
    margin: 0 1px 0 0;
    padding: 0;
    background: au;
    
}
.a .a-item a {
    display: block;
    padding: 5px 10px;
}
.a .suba {
    position: absolute;
    margin: 0;
    padding: 0;
    background: darkslategray;
    list-style: none;
    border-radius: 20px;
    
    opacity: 0;
	visibility: hidden;
}
.a .a-item:hover .suba {
    opacity: 1;
	visibility: visible;
}
.a .suba-item {
    padding: 5px 10px;
    border-radius: 20px;
}
.button_delete_user
{
    background-color: transparent !important; 
    text-align: center !important;
    border-color: transparent !important;
    color: rgb(193, 245, 6) !important;
}
.main_link{
    margin: 3% !important;

}

