{% extends 'master/base.html' %} {% block content %}
<div class="form-wrapper">
    <h1 align="center">Login</h1>
    <form method="POST">
        {% csrf_token %} {% include 'master/custom_form.html' %}
        <button type="submit" class="btn btn-success button" class="center">Login</button>
    </form>

    <div class="login_signup">If you do not have an account,
        <a href="{% url 'signup' %}">register</a>
    </div>
</div>
{% endblock %}