{% extends 'master/base.html' %} {% block content %}
<div class="form-wrapper">
    <h1 align="center">Sign up</h1>
    <form method="POST">
        {% csrf_token %} {% include 'master/custom_form.html' %}
        <button type="submit" class="btn btn-success button" class="center">Sing up</button>
    </form>
    <p align="center">Have an account?
        <a href="{% url 'login' %}">Log in</a>
    </p>
</div>
{% endblock %}